<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>나와 닮은 개발자 찾기</title>
    <link href="{{ url_for('static', filename='logo.png') }}" rel="shortcut icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- 도현 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap" rel="stylesheet">

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <style>
        * {
            font-family: "IBM Plex Sans KR", sans-serif;
            font-weight: 600;
            font-style: normal;
        }

        .content-border {
            border: 2px solid hsl(153, 53%, 53%);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .junglegreen {
            color: hsl(153, 53%, 53%);
        }

        .content-container {
            display: flex;
            justify-content: center;
        }

        .image-container {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        #margin {
            margin-bottom: 60px;
        }

        .buttons {
            display: flex;
            justify-content: center;
        }
    </style>
    <script>
        function logout() {
            $.removeCookie('token');
            window.location.href = '/'
        }
    </script>
</head>

<body>
    <button onclick="logout();" class="button is-small is-success"
        style="float: right; margin-top: 5px; margin-right: 10px;">로그아웃</button>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half content-border">
                    <div class="has-text-centered" id="margin">
                        <p1>정글러와 닮은 개발자들</p1>
                    </div>
                    <div class="columns is-centered" id="margin">
                        <div class="column has-text-centered">
                            스티브 워즈니악
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Steve_Wozniak.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[4]}}명</p5>
                            <br><br>
                            마크 주커버그
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Mark_Zuckerberg.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[1]}}명</p5>
                        </div>
                        <div class="column has-text-centered">
                            빌 게이츠
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Bill_Gates.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[3]}}명</p5>
                            <br><br>
                            일론 머스크
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Elon_Musk.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[2]}}명</p5>
                        </div>
                        <div class="column has-text-centered">
                            팀 버너스리
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Tim_Berners-Lee.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[6]}}명</p5>
                            <br><br>
                            리누스 토르발즈
                            <div class="content-container">
                                <figure class="image is-128x128 image-container">
                                    <img src="../static/Linus_Torvalds.jpg">
                                </figure>
                            </div>
                            <p5>{{developers[5]}}명</p5>
                        </div>
                    </div>
                    <div class="buttons">
                        <button onclick="location.href='/'" class="button is-success">다시하기</button>
                        <button onclick="goBack()" class="button is-success">뒤로가기</button>
                    </div>
                </div>
    </section>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>