{% extends "dev1.html" %}
{% block content %}
<div class="content-container">
    <figure id="margin" class="image">
        <img class="is-rounded" src="../static/Elon_Musk.jpg">
    </figure>
</div>
<br>
<p1>일론 머스크</p1>
<br>
<p2>남아프리카공화국 출신의 기업가이자 혁신가</p2><br />
테슬라, 스페이스X의 CEO
</div>
<div id="margin" class="junglegreen">
    자신만의 비전과 독창성이 넘치는 당신! 새로운 아이디어로 혁신을 추구하는 경향이 있습니다. <br /><br />
    고독한 워커홀릭이며, 자신이 세운 목표를 향해 끊임없이 도전합니다.<br /><br />
    때로는 자신의 유별난 생각 때문에 타인의 의문을 받곤 하지만, 크게 신경쓰지 않습니다.<br /><br />
    장기 계획을 세우고 먼 미래를 바라보며, 큰 꿈을 꿉니다.<br /><br />
    자신의 아이디어와 제품, 코드에 강한 애정을 갖고 있습니다.
</div>
{% endblock %}
{% block share %}
<button class="button is-success" onclick="js:kakaoShare(2)">공유하기</button>
{% endblock %}