{% extends "dev1.html" %}
{% block content %}
<div class="content-container">
    <figure id="margin" class="image">
        <img class="is-rounded" src="../static/Bill_Gates.jpg">
    </figure>
</div>
<br>
<p1>빌 게이츠</p1>
<br>
<p2>미국의 기업인이자 개발자, 자선가</p2><br />
마이크로소프트 창업자
</div>
<div id="margin" class="junglegreen">
    현실에 기반한 태도를 갖고 있는 당신! 현실적으로 문제를 해결하고 계획을 세우는 경향이 있습니다. <br /><br />
    실용적이고 실질적인 사고 방식을 통해 효율적인 문제 해결을 보여줍니다<br /><br />
    책임감이 강하며 규칙과 질서를 중시하는 편입니다. <br /><br />
    사회에 영향력을 끼치고 선행을 펼치는 것에 관심이 있습니다. <br /><br />
    무엇이든 잘 해내고자 하기에, 간혹 워라밸이 무너지기도 합니다.
</div>
{% endblock %}
{% block share %}
<button class="button is-success" onclick="js:kakaoShare(3)">공유하기</button>
{% endblock %}