{% extends "dev1.html" %}
{% block content %}
<div class="content-container">
    <figure id="margin" class="image">
        <img class="is-rounded" src="../static/Steve_Wozniak.jpg">
    </figure>
</div>
<br>
<p1>스티브 워즈니악</p1>
<br>
<p2>미국의 컴퓨터 공학자이자 기업가</p2><br />
애플의 공동 창업자
</div>
<div id="margin" class="junglegreen">

    분석적이고 논리적인 사고 방식을 갖고 있는 당신! 모든 것을 논리적으로 분석하는 경향이 있습니다.<br /><br />
    지식의 기반을 충분히 쌓은 후 말하는 것을 선호합니다.<br /><br />
    아이디어가 풍부한 동료와 호흡이 잘 맞습니다.<br /><br />
    어린 나이일때부터 공학과 프로그래밍에 관심이 있었습니다.<br /><br />
    혼자만의 시간을 즐기고 자신만의 취미가 있습니다.

</div>
{% endblock %}
{% block share %}
<button class="button is-success" onclick="js:kakaoShare(4)">공유하기</button>
{% endblock %}