{% extends "dev1.html" %}
{% block content %}
<div class="content-container">
    <figure id="margin" class="image">
        <img class="is-rounded" src="../static/Linus_Torvalds.jpg">
    </figure>
</div>
<br>
<p1>리누스 토르발스</p1>
<br>
<p2>핀란드의 소프트웨어 엔지니어</p2><br />
리눅스 커널과 깃의 창시자
</div>
<div id="margin" class="junglegreen">
    새로운 가능성을 탐색하는 것에 열정적인 당신! 문제를 해결하기 위해 다양한 방법을 시도하는 경향이 있습니다. <br /><br />
    표현력이 풍부한 편으로, 타인에게 영감을 주는 역할을 할 수 있습니다.<br /><br />
    장기 계획 보다는 단기 계획을 세우고 실행하는 것에 능합니다. <br /><br />
    자신만의 엄격한 잣대를 기준으로 비판을 즐깁니다. <br /><br />
    필요하다면, 자신의 스타일대로 새로운 시스템을 만들며 개발합니다.
</div>
{% endblock %}
{% block share %}
<button class="button is-success" onclick="js:kakaoShare(5)">공유하기</button>
{% endblock %}