{% extends "dev1.html" %}
{% block content %}
<div class="content-container">
    <figure id="margin" class="image">
        <img class="is-rounded" src="../static/Tim_Berners-Lee.jpg">
    </figure>
</div>
<br>
<p1>팀 버너스리</p1>
<br>
<p2>영국의 컴퓨터 과학자, 웹 개발자</p2><br />
www, HTTP 등을 고안한 웹의 아버지
</div>
<div id="margin" class="junglegreen">
    개방성과 협업을 중요하게 생각하는 당신! 타인의 의견을 경청하고 문제를 해결하는 경향이 있습니다. <br /><br />
    공공의 이익, 사회적 책임과 같은 사회적 문제에 관심이 있습니다.<br /><br />
    타인과 소통하는 것을 즐기며, 사교적인 성격을 가지고 있습니다.<br /><br />
    자신만의 원칙을 잘 지키며, 사회의 규칙을 준수하려 노력합니다.<br /><br />
    이해심이 깊고, 타인의 감정과 필요를 빠르게 캐치할 수 있습니다.

</div>
{% endblock %}
{% block share %}
<button class="button is-success" onclick="js:kakaoShare(6)">공유하기</button>
{% endblock %}